WOMPI_ENV=sandbox
WOMPI_PUBLIC_KEY=test_placeholder
WOMPI_PRIVATE_KEY=test_placeholder
WOMPI_EVENTS_SECRET=test_placeholder
WOMPI_INTEGRITY_SECRET=test_placeholder
WOMPI_REDIRECT_URL=http://127.0.0.1:4173/?pago=wompi
